doctype html
html(lang="en")
	include ./partials/_head.pug
	body
		include ./partials/_nav.pug
		block content

		script(src='https://code.jquery.com/jquery-2.1.4.min.js')
		// Bootstrap Core JavaScript
		script(src='/static/js/bootstrap.min.js')
		// Plugins JavaScript
		script(src='/static/js/jquery.easing.min.js')
		script(src='/static/js/jquery.fittext.js')
		script(src='/static/js/wow.min.js')
		// Custom Theme JavaScript
		script(src='/static/js/creative.js')